@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

.homepage_bg {
  background-image: url("../src/assets/Images/bghome-light.svg");
  background-size: cover;
  background-position: center;
  background-color: #f9fafb; /* Light background */
}

.plans,
.community,
.support {
  order: -1; /* Moves them up */
}
