@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

.homepage_bg {
  background-image: url("../src/assets/Images/bghome.svg");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.86); /* White overlay */
  background-blend-mode: lighten;
}

.plans,
.community,
.support {
  order: -1; /* Moves them up */
}
